<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-home"></i> MASTER PLAN
      </a>
    </div>

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle>
            <i class="fa fa-gears"></i>
            Settings <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="home.tasks">Tasks</a></li>
            <li class="divider"></li>
            <li><a href="goals.html">Goals</a></li>
            <li class="divider"></li>
            <li><a href="categories.html">Categories</a></li>
          </ul>
        </li>
        <li>
          <a href="productivity.html">
            <i class="fa fa-bar-chart"></i>
            Productivity
          </a>
        </li>
      </ul>

      <p class="navbar-text navbar-right">
        <span><a ui-sref="signout"><i class="fa fa-user"></i> Logout</a> {{user}}</span>
        <!--
        <img ng-src="http://www.gravatar.com/avatar/{{gravatarHash}}?s=40&d=retro" />
        -->
      </p>
  </div>
</nav>

