<div id="sidebar" class="sidebar-wrapper">
  <ul class="sidebar-nav">

    <li class="sidebar-brand">
      <a href="index.html">
        <i class="fa fa-home"></i> MASTER PLAN
      </a>
    </li>

    <li>
      <img class="thumbnail"  ng-src="http://www.gravatar.com/avatar/{{gravatarHash}}?s=70&d=retro" />
      <a href="#"><i class="fa fa-user"></i> Logout</a>
    </li>

    <li>
      <accordion>
        <accordion-group>
          <accordion-heading>
            <i class="fa fa-gear"></i>
            Settings
          </accordion-heading>
          <ul id="nav-settings">
            <li><a href="tasks.html">Tasks</a></li>
            <li><a href="goals.html">Goals</a></li>
            <li><a href="categories.html">Categories</a></li>
          </ul>
        </accordion-group>
      </accordion>
    </li>

    <li>
      <a href="productivity.html">
        <i class="fa fa-bar-chart"></i>
        Productivity
      </a>
    </li>
  </ul>
</div>

